.me {
  width: 200px;
  height: 200px;
  background-image: url('https://secure.gravatar.com/avatar/d3f939f7f18e85cde915a23ffe988600.png?s=200');
  margin: 0 auto;
  -webkit-border-radius: 100px;
     -moz-border-radius: 100px;
          border-radius: 100px;
}
